@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewData["Title"] = "İndex Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>


   @*  Tag Helper  *@
    <a href="mailto:dilek.sucu01@gmail.com"><strong><h4>Email</h4></strong></a>


</div>


